@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 16%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 16%;
    --primary: 222 47% 16%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 222 47% 16%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 222 47% 26%;
    --accent: 38 97% 52%;
    --accent-foreground: 222 47% 16%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 38 97% 52%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 0 0% 98%;
    --card: 222 47% 14%;
    --card-foreground: 0 0% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 38 97% 52%;
    --primary-foreground: 222 47% 11%;
    --secondary: 222 47% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 222 47% 18%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 38 97% 52%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 47% 20%;
    --input: 222 47% 20%;
    --ring: 38 97% 52%;
  }
  * {
    @apply border-border;
  }
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
    text-rendering: optimizeLegibility;
    font-family: 'Inter', sans-serif;
  }
}